* {
    font-family: Calibri;
}

.nav-wrapper {
    padding-left: 20px;
}

table.dataTable td.focus {
    box-shadow: inset 0 0 1px 2px #ff6f00 !important;
}

.btn,
.btn-large,
.btn-small {
    background-color: #616161 !important;
}

h1 a,
h2 a,
h3 a {
    color: #424242 !important;
}

h3 b {
    text-transform: uppercase
}

.page-footer {
    background-color: #ff6f00 !important;
}

#dropdown {
    color: #616161 !important;
}

input,
label,
select,
optgroup {
    color: #616161 !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #616161 !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ff6f00 !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff6f00 !important;
    -webkit-box-shadow: 0 1px 0 0 #ff6f00 !important;
    box-shadow: 0 1px 0 0 #ff6f00 !important;
}

/* Executive CSS */

.exec-container {
    margin: 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.exec-box {
    display: table;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-clip: padding-box
}

@media (max-width:991px) {
    .exec-box {
        margin: 4px;
        width: calc(50% - 8px);
        height: 96px;
    }
}

@media (min-width:992px) {
    .exec-box {
        margin: 8px;
        width: calc(25% - 16px);
        height: 96px;
    }
}

.exec-item {
    display: inline-table;
    padding: 5px 5px;
    vertical-align: middle;
    text-align: left;
}

.exec-item img {
    display: inline-block;
    max-height: 96px;
}

.reward-table td {
    padding: 5px 5px;
}

.dropify-font-upload:before,
.dropify-wrapper .dropify-message span.file-icon:before {
  content: '\2601' !important;
}

.dropify-font-file:before {
  content: '\2601' !important;
}

.help-block {
    color: #ff6f00 !important;
    font-size: 12px;
}

.login-panel {
    display: block;
    position: relative;
    left: 50%;
    top: 20%;
}